@define-color base-00 #1d2021;
@define-color base-01 #3c3836;
@define-color base-02 #504945;
@define-color base-03 #665c54;
@define-color base-04 #bdae93;
@define-color base-05 #d5c4a1;
@define-color base-06 #ebdbb2;
@define-color base-07 #fbf1c7;
@define-color red #fb4934;
@define-color orange #fe8019;
@define-color yellow #fabd2f;
@define-color green #b8bb26;
@define-color aqua #8ec07c;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color brown #d65d0e;


* { 
	font-family: "FiraMono Nerd Font", serif;
	font-size: 12px;
	font-weight: bold;
}

#systemd-failed-units, #custom-userspace, #pulseaudio, #network, #battery, #clock, #custom-pomodoro, #cpu, #memory, #temperature {
	padding: 0 10px 0 10px;
}

#waybar {
	background: @base-00;
}

#custom-userspace, #clock {
	background: @brown;
}

.modules-left {
	border-radius: 10px 0 0 10px;
}

#workspaces button {
	padding: 0;
	border-radius: 0;
	min-height: 0;
	font-size: 2px;
	background: @base-02;
}

#workspaces button.active {
	background: @base-04;
}

#systemd-failed-units, #cpu, #memory, #temperature, #pulseaudio, #network, #battery, #custom-pomodoro {
	color: @base-06;
}

#custom-pomodoro {
	border-radius: 0 10px 10px 0;
}

@keyframes blinker { to { opacity: 0.5; } }

#battery.critical:not(.charging) {
	animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
